body{
  background:#0e0e0e;
  color:white;
  font-family:Arial;
  text-align:center;
}

.grid{
  display:flex;
  justify-content:center;
  gap:20px;
}

.card{
  background:#1c1c1c;
  padding:20px;
  border-radius:12px;
  width:400px;
}

input{
  display:block;
  width:90%;
  margin:8px auto;
  padding:8px;
}

button{
  padding:10px;
  margin-top:10px;
  cursor:pointer;
}

